@charset "utf-8";

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 10px;
}

code {
    font-family: "Consolas", "monaco", "monospace";
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    background-color: LightGray !important;
    color: black !important;
}

div table {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 13px;
	border: dotted 1px #9BBB59;
	border-collapse: collapse;
}

div table td{
	padding: 5px;
	border: dotted 1px #9BBB59;
}

div table th{
	padding: 5px;
	border: dotted 1px #9BBB59;
	background-color: #9BBB59;
	color: #EAF1DD;
}

div table tr:nth-child(even){
	background-color: #EAF1DD;
	color: #4F6228;
}

div table tr:nth-child(odd){
	background-color: #D7E4BC;
	color: #4F6228;
}